@font-face {
   font-family:'Didact Gothic';
   src: url(../fonts/DidactGothic-Regular.ttf) format(TrueType);
}

*{
   box-sizing: border-box;
   margin:0;
   padding:0;
}

body{
   font-family:'Didact Gothic', Verdana, Geneva, Tahoma, sans-serif;
   background-color: #bfacc8;
}

.menu{
   width: 100%;
   margin: 0 auto;
   background: #2f2f2f;
   text-align: center;
}
.menu .planet-facts ul{
   list-style: none;
}

.menu li{
   display: inline-block;
   padding:20px;
   transition: all .3s ease-in ;
}

.menu ul li:hover{
   transform: scale(1.2);
   background: #e94f37;
}

.menu ul li a{
   color: #fff;
   text-decoration: none;
}

.flex-section{
   display: flex;
   flex-direction: column;
   grid-template-rows: repeat(8,1fr);
   row-gap: 1em;
   width: 80%;
   justify-content: center;
   margin: 0 auto;
}

.grid-planet{
   display: grid;
   background-color: #4a4063;
   grid-template-rows:1fr 2fr 1fr;
   grid-template-columns:1fr 4fr;
   column-gap: 0.5em;
   border-radius: 5px;
}

.grid-planet img{
   grid-row: 1/4;
   justify-self: center;
   align-self: center;
   max-width: 70%;
}

.grid-planet  h2{
   color: darkkhaki;
   align-self: center;
}

.cajas-resultados{
   align-self: center;
   display: flex;
   justify-content: space-evenly;
}

.caja-peso{
   text-align: center;
   width: auto;
   border-radius: 10px;
   background-color: rgb(137, 80, 217);
   padding: 1em;
}

.caja-edad{
   text-align: center;
   width: auto;
   border-radius: 10px;
   background-color: rgb(137, 80, 217);
   padding: 1em;
}
.planet-facts li{
   display: inline-flex;
}