*{
   box-sizing: border-box;
   margin:0;
   padding:0;
}

.menu{
   width: 100%;
   margin: 0 auto;
   background: #2f2f2f;
   text-align: center;
}
.menu ul{
   list-style: none;
}

.menu li{
   display: inline-block;
   padding:20px;
   transition: all .3s ease-in ;
}

.menu ul li:hover{
   transform: scale(1.2);
   background: #e94f37;
}

.menu ul li a{
   color: #fff;
   text-decoration: none;
}