*{
   box-sizing: border-box;
   margin:0;
   padding:0;
}

.menu{
   width: 100%;
   margin: 0 auto;
   background: #2f2f2f;
   text-align: center;
}
.menu ul{
   list-style: none;
}

.menu li{
   display: inline-block;
   padding:20px;
   transition: all .3s ease-in ;
}

.menu ul li:hover{
   transform: scale(1.2);
   background: #e94f37;
}

.menu ul li a{
   color: #fff;
   text-decoration: none;
}

.grid-section{
   display: grid;
   grid-template-rows: repeat(8,1fr);
   row-gap: 1em;
   background-color: rgb(41,24,64);
   width: 80%;
   justify-content: center;
   margin: 0 auto;
}

.grid-planet{
   display: grid;
   grid-template-rows:1fr 2fr 1fr;
   grid-template-columns:1fr 4fr;
   column-gap: 0.5em;
}

.grid-planet img{
   grid-row: 1/4;
   justify-self: center;
   max-width: 100%;
}

.grid-planet h2{
   background: rgb(161, 100, 59);
}

.grid-planet h3{
   background: rgb(195, 206, 50);
}

.grid-planet p{
   background: rgb(141, 33, 132);
}